<h1>Welcome to Iona's Rock, Paper, Scissors game!</h1>
<p> Please type your two moves in the url.</p>
<p>For example, to play rock against scissors, the url should say: localhost:4567/rock/scissors</p>
